.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    color: var(--color-secondary);
    background-color: var(--color-page-theme-tertiary);
}

.details > span {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.details > span > span:first-child {
    font-weight: bold;
}

.details > span > span:last-child {
    text-align: right;
}

.buttonsCtn {
    display: flex;
    gap: 15px;
    align-items: center;
}

.buttonsCtn > * {
    color: var(--color-primary);
    background-color: var(--color-page-theme-quaternary);
    padding: var(--padding-button);
    border-radius: var(--radius-button);
    border: none;
}